[submodule "libraries/libimobiledevice"]
	path = libraries/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice
[submodule "libraries/libplist"]
	path = libraries/libplist
	url = https://github.com/libimobiledevice/libplist
[submodule "libraries/libusbmuxd"]
	path = libraries/libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd
