on:
  workflow_dispatch:
  push:
    branches: ["**"]
    paths-ignore:
      - "**/*.md"

name: Build Binary
jobs:
  build:
    runs-on: ubuntu-latest
    container: greyltc/archlinux-aur:paru
    strategy:
      fail-fast: false
      matrix:
        language: ["cpp"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install build dependencies
        run: "paru --noconfirm -Syu base-devel cmake clang ninja git make boost zlib python3 avahi && aur-install libcorecrypto-git"
      
      - name: Compile
        run: >
          mkdir build && cd build
          && cmake -GNinja .. && cmake --build . --config Release -- -j 8

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: |
            build/